{% extends 'base.html' %}
{% block content %}
<style>
    input { width: 100%; padding: 10px; margin-top: 5px; border-radius: 8px; border: 1px solid #444; background-color: #2b3035 !important; color: white !important; }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card bg-dark text-white shadow-lg border-0 rounded-4">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Daftar Akun Citizen</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success w-100 rounded-pill mt-3">Daftar Sekarang</button>
                    </form>
                    <div class="text-center mt-3">
                        <small><a href="{% url 'usermanagement_24782001:login' %}" class="text-primary">Sudah punya akun? Login</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}